body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#loginForm {
    border: solid 1px #149c82;
    background: #149c82;
    padding: 1em;
    margin-top: 2em;
    color: #fff;
}

.timesheet-form input {
    max-width: 80px;
}

.timesheet-form .date-input {
    max-width: 280px;
}

.timesheet-form .row-header {
    font-size: 0.85em;
    margin-bottom: 1px;
    border-bottom: solid 2px #149c82;
    border-top: 1px solid #149c82;
}

.timesheet-form .row {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
.role-control{
    padding: 0.25em;
    display: inline-block;
}
