@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
<div class="row">
    @if (User.IsInRole("EMPLOYEE")) {
    <div class="col-md-4">
        <h2>Moje arkusze pracy</h2>
        <p>
            Tutaj możesz przejśc do  przeglądu swoich arkuszy pracy
        </p>
        <p>@Html.ActionLink("Przejdź", "Index", "Timesheet", new { }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Moje dane</h2>
        <p>Przegladaj i edytuj swój profil</p>
        <p>@Html.ActionLink("Przejdź", "Index", "Manage", new { }, new { @class = "btn btn-default" })</p>
    </div>
    }
    @if (User.IsInRole("MANAGER"))
    {
    <div class="col-md-4">
        <h2>Karty oczekujące na przegląd</h2>
        <p>Czas pracy podwładnych oczekujące na przegląd</p>
        <p>@Html.ActionLink("Przejdź", "Review", "Timesheet", new { }, new { @class = "btn btn-default" })</p>
    </div>
    }
</div>
}